.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  background-image: url('../../../assets/excel.svg');
  background-repeat: no-repeat;
  margin: 16px;
}
.enable{
  opacity: 1;
  cursor: pointer;
}
.disable{
  opacity: .3;
  cursor: initial;
}

:host ::ng-deep .ant-card-meta-description{
  font-size: 24px;
}
:host ::ng-deep .ant-card-meta-title .finish{
  color:green;
}
:host ::ng-deep .nztitle{
  font-size: 28px;
  overflow: hidden;
  margin-bottom: 0px;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;  
}