<nz-steps [nzCurrent]="index" nzType="navigation" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Cropping"></nz-step>
    <nz-step nzTitle="Analysing"></nz-step>
</nz-steps>
<div class="cropping" *ngIf="index===0">
    <angular-cropper #angularCropper [cropperOptions]="{ checkCrossOrigin: true }" imageUrl="assets/imgs/IMG_3507.jpg">
    </angular-cropper>
    <div class="toolbar">
        <button title="Move (M)" class="toolbar__button">
            <fa-icon [icon]="['fas', 'arrows-alt']"></fa-icon>
        </button>
        <button title="Crop (C)" class="toolbar__button" (click)="crop()">
            <fa-icon [icon]="['fas', 'crop']"></fa-icon>
        </button>
        <!-- <button title="Rotate Right" class="toolbar__button">
            <fa-icon [icon]="['fas', 'redo']"></fa-icon>
        </button>
        <button title="Rotate Left" class="toolbar__button" (click)="rotateLeft()">
            <fa-icon [icon]="['fas', 'undo']"></fa-icon>
        </button> -->
    </div>
</div>
<div class="recognition" *ngIf="index===1">
    <nz-progress nzStrokeLinecap="round" [nzPercent]="progress"></nz-progress>
    <as-split direction="horizontal">
        <as-split-area [size]="70" style="position: relative;">
            <div #canvasContainer class="canvasContainer ion-text-center">
                <canvas #canvas id="c"></canvas>
            </div>
            <div class="toolbar">
                <button title="Analyse" class="toolbar__button" (click)="analyse()">
                    <fa-icon [icon]="['fas', 'compress']"></fa-icon>
                </button>
                <button title="" class="toolbar__button" (click)="doubleColumn()">
                    <fa-icon [icon]="['fas', 'columns']"></fa-icon>
                </button>
            </div>            
        </as-split-area>
        <as-split-area [size]="30">
            <div class="container-fluid">
                <!-- the grid -->
                <wj-flex-grid #flex [itemsSource]="data" (initialized)="flexInitialized(flex)">
                    <wj-flex-grid-column [header]="'Vokabeln Spanisch'" [binding]="'vocab_es'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Vokabeln Deutsch'" [binding]="'vocab_de'"></wj-flex-grid-column>
                </wj-flex-grid>
            </div>
        </as-split-area>
    </as-split>

</div>